
*{
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
   display: none; 
}

body{
    background-color: beige;
}

#dis-cntr{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4rem;
    padding: 3rem;
    gap: 4rem;
    flex-wrap: wrap;
    
}

h1{
    font-family: 'Inter', sans-serif;
    font-size: clamp(2rem, 6vw, 3.8rem);
    color: #2C2C2C;

}

#dis-cntr p{
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
    max-width: 40ch;
    width: 90%;
    text-align: center;
    line-height: 2.5rem;
    font-weight: 600;
}

#main-cntr{
    display: flex;
    /* justify-content: center; */
    flex-wrap: wrap;
    flex-direction: column;
    border: #2C2C2C 0.2rem solid;
    border-radius: 2rem;
    margin: 4rem;
}

#PE-cntr{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 4rem;
    margin-bottom: 4rem;
    
}

    #PE-cntr img{
        width: 15rem;
        border-radius: 2rem;
        border: 0.3rem solid black;
    }

#P-cntr,#E-cntr{

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    
    
}

#P-cntr p,#E-cntr p{
  
    font-family: 'Inter', sans-serif;
    color: #2C2C2C;
    font-size: 1.5rem;
    font-weight: 600;
   
}

#time,#lct{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 1.3rem;
    font-weight: 500;
    font-style: oblique;
    border-top: black 0.2rem solid;
    /* align-items: center; */
   
}

#time-lct-cntr{
    display: flex;
    gap: 2rem;
    flex-direction: column;
    justify-content: center;

}

#time{
    padding-top: 2rem;
}

#lct{
    padding-bottom: 2rem;
    padding-top: 2rem;

}

/* @media screen and (max-width:768px){
    #PE-cntr img{
        width: 10rem;
        border-radius: 2rem;
        border: 0.3rem solid black;
        flex-wrap: wrap;
    }
} */

@media (max-width:768px){
    h1{
        font-size: 2.3rem;
    }

    #dis-cntr{
        margin: 2rem 1rem;
        padding: 1rem;
    }

    #main-cntr{
        margin: 1rem;
    }
}


body,html{
    margin: 0;
    padding: 0;
    min-width:100%;
    box-sizing: border-box;

}

::-webkit-scrollbar {
   display: none; 
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header{
    /* background-color: #96ffb5; */
    /* min-height: 140px; */
    height: auto;
    
}

.navbar{
    display: flex;
    padding-top: 10px;
    background-color: #96ffb5;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: auto;
}

@media screen and (max-width: 800px) {

    #login,
    #sign-up{

        margin:10px 0;
    }
    .navbar {
        flex-direction: column;
        align-items: center;
    }

    nav ul{
        flex-direction:column;
        align-items:center;
        gap:1rem;
        padding:0;
    }

    #logo{
        margin-left:0;
    }


    #t1{
        font-size:2rem;

    }
}

@media screen and (max-width: 500px){
     .navbar {
        flex-direction: column;
        align-items: center;
    }

    nav ul{
        flex-direction:column;
        align-items:center;
        gap:1rem;
        padding:0;
    }

    #logo{
        margin-left:0;
    }
}

@media screen and (max-width: 320px){
     .navbar {
        flex-direction: column;
        align-items: center;
    }

    nav ul{
        flex-direction:column;
        align-items:center;
        gap:1rem;
        padding:0;
    }

    #logo{
        margin-left:0;
    }
}

#logo{
    margin-left:4rem;
}

#logo-cntr{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

#t1{
    font-size:2.5rem;
}

#logo img{
    width: 95%;
    height: 100px;
    margin-top: 0.5rem;
}

#logo-p{
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

#t1{
    margin-top: 2rem;
}

.links{
    display: flex;
    align-items: center;
}

.links nav{
    margin-left: 2rem;
    margin-top: 1rem;
}

nav ul{
    display: flex;
    list-style: none;
    gap: 2rem;

}

nav a{
    text-decoration: none;
    color: #1F2937;
    font-size: large;
    font-weight:600;
    font-family:cursive;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    
}

nav a:hover{
    color: #ff3b3b;
    transform: scale(1.1);
}

#login{
    color: #1F2937;
    font-size: 1.2em;
    font-weight:600;
    font-family:cursive;
    display: flex;
    border: 0.1rem solid black;
    align-items: center;
    /* margin-top: 2.5rem; */
    margin-left: 1rem;
    padding:1rem;
    height: 10%;
    border-radius: 5rem;
    width: auto;
    max-width: 70px;
    justify-content: center;
    cursor: pointer;
    background-color: beige;
    transition: background-color 0.5s ease-in-out;

}

#sign-up{
    color: #1F2937;
    font-size: 1.2rem;
    width: auto;
    max-width: 195px;
    font-weight:600;
    font-family:cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 2.5rem; */
    margin-left: 1rem;
    padding: 1rem;
    height: 10%;
    border: 0.1rem solid black;
    border-radius: 5rem;
    cursor: pointer;
    background-color: beige;
    transition: background-color 0.5s ease-in-out;
    
}

#lgn-sgn-cntr{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    
    
}

#login:hover{
    background-color: #25ff67;

}

#sign-up:hover{
    background-color: #25ff67;

}

footer{
    background-color: #a4ffbf;
    margin-top: auto;
}
    
.all-links{
    display: flex;
    justify-content: space-evenly;
    padding-top: 3rem;
    min-height: 280px;
    flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
    .all-links {
        flex-direction: column;
        align-items: center;

    }

    /* #ftr-link-cntr{
        grid-template-columns: 1fr;
    } */

}

@media screen and (max-width: 500px) {
    .all-links {
        flex-direction: column;
        align-items: center;
    }

}

#footer-links{
    width: 17rem;
    /* padding-top: 2rem; */
    
}

#ftr-link-cntr{
    display: flex; 
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

p{
    display: flex;
    justify-content: center;
    font-family: cursive;
    font-size: 1.3em;
    font-weight: 600;
    padding-bottom: 1rem;
}

#footer-links ul{
    list-style: none;
    

}

#footer-links ul li{
    margin-bottom: 1.2rem;
}

#footer-links ul a{
    text-decoration: none;
    font-size: 1.2em;
    cursor: pointer;
    color: #1F2937;
    font-family:cursive;
    font-weight: 600;
    transition: all 0.5s ease-in-out;
    display: flex;
    justify-content: center;
    /* margin-right: 2rem; */

}



#footer-links ul a:hover{
    color: #ff3b3b;
    transform: scale(1.1);

}

#app-links {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    /* padding-bottom: 20px; */
    
}

#app-links img{
    width: 3rem;
    height: 3rem;
}

h3{
    font-family: cursive;
    font-weight:bolder;
    font-size: large;
    padding-left: 1.5em;
    display: block;
    
}

#last-p{
    display: flex;
    justify-content: center;
    padding-bottom: 0.6rem;
    font-size: 2em;
    font-weight: bold;
}

#last-logo img{
    width:100%;
    max-width:300px;
    height:auto;
}